*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
ui/src/main/gen/olx/hernanbosqued/com/olx/BuildConfig.java
ui/src/main/gen/olx/hernanbosqued/com/olx/Manifest.java
ui/src/main/gen/olx/hernanbosqued/com/olx/R.java
